.heading
{
  width: 100%;
  margin: 0px;
  box-shadow:10px 10px 10px rgb(0, 0, 0);
  font-size: 25px;
}
.heading_div
{
  background: white ; 
  border-radius: 20px; 
  color: black;
  box-shadow:6px 6px 6px rgb(255, 205, 205);
  float: none;
  padding: 10px;
  
}
.heading_div2
{
  font-size: 18px ;
}
.result_para_tag
{
  box-shadow:5px 5px 5px grey;
  font-size: 20px;
}

.result_para_tag span {
   
  white-space: pre-line;
}

.copy_right_footer {

position: fixed;
color: black;
font-weight: 900;
text-align: center;
bottom: 0;
width: 100%;
background-color:#80b7ff;
line-height: 3;
}